.upload-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-card {
    maxWidth: 400px;
    width: 75%;
    backgroundColor: rgba(255, 255, 255, 0.1);
    backdropFilter: blur(10px);
    borderRadius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    boxShadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 100px;  /* Adjust padding if needed */
    margin: 25%;
}
